---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import ShareIcon from "@/components/ShareIcon.astro";

import EmailIcon from "@/images/icons/share/EmailIcon.svg?raw";
import LinkedinIcon from "@/images/icons/share/LinkedinIcon.svg?raw";
import XComIcon from "@/images/icons/share/XComIcon.svg?raw";
import WhatsappIcon from "@/images/icons/share/WhatsappIcon.svg?raw";

import { emailLink, linkedinLink, whatsappLink, xComLink } from "@/utils/share";
import { formatDate } from "@/utils/formatDate";

import PostView from "@/components/PostView.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.flatMap((post) =>
    (post.data.slugs || []).map((slug) => ({
      params: { post: slug },
      props: { post },
    })),
  );
}

const { post } = Astro.props;

const { title, tags, summary, createdAt } = post.data;
const url = Astro.url.toString();
---

<Layout
  title={title}
  description={summary}
  image={`/assets/blog/${post.data.slugs[0]}.png`}
  subtitle={`Published ${formatDate(createdAt)}`}
>
  <div class="flex h-auto flex-col">
    <div
      class={`lg:sticky lg:top-4 lg:h-0 lg:w-52 lg:gap-12 lg:translate-x-64 lg:self-end mb-2`}
    >
      <div class="flex flex-col justify-center lgo:flex-row text-white">
        <ShareIcon
          size={45}
          icon={EmailIcon}
          href={emailLink({ title, url, tags })}
        />
        <ShareIcon
          size={45}
          icon={LinkedinIcon}
          href={linkedinLink({ title, url, tags })}
        />
        <ShareIcon
          size={45}
          icon={WhatsappIcon}
          href={whatsappLink({ title, url, tags }, true)}
        />
        <ShareIcon
          size={45}
          icon={XComIcon}
          href={xComLink({ title, url, tags })}
        />
      </div>
    </div>
  </div>
  <PostView post={post} />
</Layout>
