---
import { Image } from "astro:assets";
import Tag from "./Tag.astro";
import { formatDate } from "@/utils/formatDate";
import type { PostInner } from "@/utils/models";
import "@/content.css";
import "@/highlight.css";

interface Props {
  post: PostInner;
}

const { post } = Astro.props;
const { image, title, html, tags, summary, publishedAt } = post;

import { common, createLowlight } from "lowlight";
import { toHtml } from "hast-util-to-html";
const lowlight = createLowlight(common);

const highlightedCode = html.replaceAll(/<pre>[\s\S]*?<\/pre>/g, (match) => {
  const code = match.replace(/<pre>|<\/pre>/g, "");
  const lang = code.match(/language-(\w+)/)?.[1];

  const insideCode = code
    .replace(/<code[^>]*>|<\/code>/g, "")
    .replace(/&lt;/g, "<")
    .replace(/&gt;/g, ">")
    .replace(/&amp;/g, "&");
  if (lang) {
    const highlighted = lowlight.highlight(lang, insideCode);
    return `<pre><code class="language-${lang}">${toHtml(
      highlighted,
    )}</code></pre>`;
  }
  const highlighted = lowlight.highlightAuto(insideCode);
  return `<pre><code>${toHtml(highlighted)}</code></pre>`;
});
---

<div class="flex flex-col gap-5">
  <div class="flex flex-row items-center gap-5 smo:flex-col">
    {
      image ? (
        <div class="image-container">
          <Image width={100} height={100} src={image} alt="" />
        </div>
      ) : null
    }
    <div class="flex flex-1 flex-col justify-center gap-2">
      <div class="flex flex-row flex-wrap justify-between gap-2">
        {
          tags && tags.length ? (
            <div class="flex flex-row gap-2">
              {tags.map((t) => (
                <Tag name={t} />
              ))}
            </div>
          ) : null
        }
        <span style={{ fontSize: "0.75rem" }}>
          Published {formatDate(publishedAt ?? new Date())}
        </span>
      </div>
      <h2 class="text-xl font-bold">{title}</h2>
    </div>
  </div>
  <div class="post-content">
    <Fragment set:html={highlightedCode} />
  </div>
</div>

<style>
  .image-container {
    width: 120px;
    min-width: 120px;
    height: 120px;

    position: relative;
    display: flex;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    padding: 3px;

    align-items: center;
    justify-content: center;
  }
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
