---
import { Image } from "astro:assets";
import { formatDate } from "@/utils/formatDate";
import Tag from "./Tag.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, summary, tags, image, slugs, published, createdAt } = post.data;
---

<div class="neo-container mb-2 flex flex-col relative">
  <div class="flex flex-row justify-start smo:mt-5 smo:flex-col-reverse">
    <div class="z-[5] flex flex-row">
      <div class="z-[5] flex flex-row pt-4 pr-5 pb-0 pl-6">
        <div
          class="neo clipped z-[5] flex flex-row gap-4 rounded-t-md bg-paper pt-2 pr-2 pb-0 pl-3 items-center"
        >
          <a class="flex flex-row gap-2" href={`/blog/${slugs[0]}`}>
            <div class="flex flex-row">
              <span style={{ fontSize: "0.75rem" }}>
                {formatDate(createdAt)}
              </span>
            </div>
          </a>
          <div class="flex flex-row justify-end gap-2">
            {
              tags
                ? tags.map((tag) => <Tag name={tag} variant="outlined" />)
                : null
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="neo relative flex min-h-[100px] flex-1 rounded-md bg-paper smo:pr-2"
    href={`/blog/${slugs[0]}`}
  >
    <div class="flex flex-row gap-2 pr-3 pb-2 pl-2 pt-2">
      {
        image ? (
          <div class="image-container">
            <Image width={100} height={100} src={image} alt="" />
          </div>
        ) : null
      }
      <div class="flex flex-col px-2 py-1 smo:flex-wrap">
        <h3 class="text-xl font-bold leading-6 text-primary">
          {title || "No title"}
        </h3>
        <div
          class="flex flex-row overflow-hidden text-ellipsis text-sm"
          style={{
            "-webkit-line-clamp": 3,
            "-webkit-box-orient": "vertical",
            display: "-webkit-box",
          }}
        >
          {summary}
        </div>
      </div>
    </div>
  </a>
</div>

<style>
  .image-container {
    width: 100px;
    min-width: 100px;
    height: 100px;

    position: relative;
    display: flex;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    padding: 3px;

    align-items: center;
    justify-content: center;
  }
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
