---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Navigation from "@/components/Navigation/Navigation.astro";
import { getDb } from "@/utils/database";
import Me from "@/images/me.jpg";
interface Props {
  title: string;
  description?: string;
  image?: string;
  subtitle?: string;
}

const { title, description = "", image = Me.src, subtitle = "" } = Astro.props;

const database = await getDb();
const posts = await database
  .posts()
  .find({ "published.tags": { $exists: 1 } })
  .toArray();

const uniqueTags = new Set<string>();
for (const post of posts) {
  for (const tag of post.published?.tags ?? []) {
    uniqueTags.add(tag);
  }
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="title" content={`${title} | Björn Friedrichs`} />
    <meta name="description" content={description} />
    <meta
      name="image"
      content={Astro.url.origin +
        `/assets/banner.png?title=${encodeURIComponent(
          title,
        )}&image=${encodeURIComponent(image)}&subtitle=${encodeURIComponent(
          subtitle,
        )}`}
    />

    <meta name="og:title" content={`${title} | Björn Friedrichs`} />
    <meta name="og:description" content={description} />
    <meta
      name="og:image"
      content={Astro.url.origin +
        `/assets/banner.png?title=${encodeURIComponent(
          title,
        )}&image=${encodeURIComponent(image)}&subtitle=${encodeURIComponent(
          subtitle,
        )}`}
    />
    <meta name="og:type" content="website" />
    <meta name="og:url" content={Astro.url} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={Astro.url} />
    <meta name="twitter:title" content={`${title} | Björn Friedrichs`} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:creator" content="bjoernf_dev" />
    <meta
      name="twitter:image"
      content={Astro.url.origin +
        `/assets/banner.png?title=${encodeURIComponent(
          title,
        )}&image=${encodeURIComponent(image)}&subtitle=${encodeURIComponent(
          subtitle,
        )}`}
    />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Björn Friedrichs' Blog"
      href="/rss.xml"
    />
    {
      Array.from(uniqueTags).map((tag) => (
        <link
          rel="alternate"
          type="application/rss+xml"
          title={`Björn Friedrichs' Blog | ${tag}`}
          href={`/rss/${tag.toLowerCase()}.xml`}
        />
      ))
    }
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Björn Friedrichs</title>
  </head>
  <body>
    <div class="flex flex-1 bg-default">
      <div class="flex flex-1 flex-col">
        <div
          class="smo:pr0 ml-auto mr-auto box-border flex w-full flex-1 flex-col md:max-w-[700px] smo:pl-0"
        >
          <div class="flex flex-1 flex-col">
            <Header />
            <div
              class="flex flex-1 flex-col px-1 py-11"
              style={{ maxWidth: "100vw" }}
            >
              <slot />
            </div>
            <Footer />
            <Navigation mobile />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
  // @ts-ignore
  import * as ackeeTracker from "ackee-tracker";
  ackeeTracker
    .create("https://dashboard.bjoernf.com", {
      ignoreLocalhost: true,
      detailed: true,
    })
    .record("b047640d-67e7-4545-9fef-515886c30ff0");
</script>
<style is:global>
  :root {
    --tw-color-primary: theme("colors.primary");
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;

    font-family: "Raleway", "-apple-system", "BlinkMacSystemFont",
      "Helvetica Neue", "Arial", "sans-serif";
  }

  html,
  body {
    min-height: 100vh;
  }

  body {
    display: flex;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .neo {
    box-shadow:
      5px 5px 10px #e3e3e3,
      -5px -5px 10px #ffffff;
  }
</style>
